.erro_simulador{
    display: none;
}
.font-title-1{
    font-family: 'bw_gradual_demomedium' !important;
}
.font-paragrafo-1{
    font-family: 'bw_gradual_demoregular' !Important;
}
.f-70{
    font-size: 50px !important;
    line-height: 50px !important;;
}

.btn-roxo{
    background: #281943 !important;
    border: #281943 !important;
}

.btn-azul{
    background: #4DB696 !important;
    border: #4DB696 !important;
    color: #281943;
    font-family: bw_gradual_demomedium;
    font-weight: normal;
}

.btn-azul:hover{
    color: #281943;
}


.color-roxo{
    color:  #281943 !important;
}

.color-amarelo{
    color: #FE691F !important;
}

.color-laranja{
    color: #FE691F !important;
}

.color-azul-b2b{
    color: #4DB696 !important;
}


.roxo-b2b{
    background-color: #25173E ;
}

